body {
    background-color: #f4f4f4;
}

button {
    margin: 10px;
}

#profile-pic {
    border: 2px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h4 {
    font-weight: bold;
    margin-top: 20px;
}

#start-time, #end-time {
    font-weight: bold;
    color: #007bff;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .btn {
    background-color: #555;
    color: #fff;
}

